/* ---------- WRAPPER GENERAL ---------- */
.shapes-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* ocupa el 100% del alto visible */
  overflow: hidden;
  background: linear-gradient(to top, #333446, #1b3c53);
}

/* Siempre dejan el SVG al fondo */
.shapes-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.desktop-bg {
  display: block;
}

.mobile-bg {
  display: none;
}

/* ---------- ANIMACIONES ---------- */
@keyframes girarIzquierda {
  50% {
    transform: rotate(-360deg);
  }
}

@keyframes girarDerecha {
  50% {
    transform: rotate(360deg);
  }
}

/* Animaciones de shapes */
.violeta,
.gris,
.verde,
.turquesa,
.rosa,
.naranja {
  transform-box: fill-box;
}

/* ajustes por color */
.violeta {
  transform: translate(20px, 30px) rotate(180deg);
  animation: girarIzquierda 7s linear infinite;
}

.verde {
  transform: translate(10px, -10px) rotate(180deg);
  animation: girarIzquierda 8s linear infinite;
}

.rosa {
  transform: translate(10px, -10px) rotate(180deg);
  animation: girarIzquierda 8s linear infinite;
}

.turquesa {
  transform: translate(-25px, 45px) rotate(180deg);
  animation: girarDerecha 6s linear infinite;
}

.gris {
  transform: translate(15px, -35px) rotate(180deg);
  animation: girarDerecha 9s linear infinite;
}

/* ---------- VERSIÓN MOBILE ---------- */
@media (max-width: 768px) {
  .desktop-bg {
    display: none;
  }

  .mobile-bg {
    display: block;
  }

  .shapes-wrapper {
    aspect-ratio: 1 / 1; /* cuadrado para móviles */
    height: 100dvh;
  }

  /* Mobile animations más suaves */
  .violeta,
  .rosa,
  .verde,
  .turquesa {
    transform: translate(0px, 0px) scale(1.3);
    animation-duration: 14s;
    opacity: 0.8;
  }

  /* ajustes visuales mobile */
  .shapes-content {
    position: relative;
    z-index: 5;
    text-align: center;
  }
}
